node_modules/
dist/
.env
.env.*.local
.DS_Store
Thumbs.db
*.log
# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Assets folder
nouveau site 2026/

# Build/package artifacts
primlogix-dist.zip
PRIMInstall.zip